/* color scheme: #E6E856, #6CE856, #A9E856, #A9E856, #A9E856, #A9E856 */

body {
    background-color: #6CE856;
    color: #ffffff;
    font-family: Arial;
    font-size: 24px;
    margin: auto;
    text-align: center;
}

h1 {
    background-color: #E6E856;
    color: #000000;
    font-family: Arial;
    font-size: 50px;
    text-align: center;
}


h2 {
    color: #000;
    font-family: Arial;
    font-size: 30px;
    text-align: center;
    background-color: #E6E856;
}

img {
    max-width: 30rem;
}

button, button:active {
    background-color: #A9E856;
    font-family: Arial;
    font-size: 16px;
    border-color: #E6E856;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

button.disabled {
    background-color: #A9E856;
    font-family: Arial;
    text-transform: uppercase;
    opacity: 0.5;
    font-size: 16px;
    cursor: not-allowed;
    font-weight: bold;
    text-align: center;
}

button.disabled:hover {
    background-color: #A9E856;
    font-family: Arial;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
