/* color scheme: #E6E856, #6CE856, #A9E856, #A9E856, #A9E856, #A9E856 */

body {
    background-color: #6CE856;
    color: #ffffff;
    font-family: Arial;
    margin: auto;
}

h1 {
    background-color: #E6E856;
    color: #000000;
    font-family: Arial;
    font-size: 30px;
}


h2 {
    color: #fff;
    font-family: Arial;
    font-size: 30px;
}

img {
    max-width: 30rem;
}

button, button:active {
    background-color: #A9E856;
    font-family: Arial;
    border-color: #E6E856;
    text-transform: uppercase;
    font-weight: bold;
}

button.disabled {
    background-color: #A9E856;
    font-family: Arial;
    text-transform: uppercase;
    opacity: 0.5;
    cursor: not-allowed;
    font-weight: bold;
}

button.disabled:hover {
    background-color: #A9E856;
    font-family: Arial;
    text-transform: uppercase;
    font-weight: bold;
}
